html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

/* Layout */

.layout {
    display: flex;
    flex-direction: column;
}

.header,
.footer,
.content {
    padding: 10px 15%;
}

.header,
.footer {
    flex: 0 0 auto;
    height: 5vh;
    display: flex;
    align-items: center;
}

.header {
    justify-content: space-between;
    color: white;
}

.header-right {
    display: flex;
    gap: 2em;
}

.content {
    flex: 1;
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    color: whitesmoke;
    align-items: center;
}

.content-left,
.content-right {
    min-height: 100px;
    flex: 1;
}

.content-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vertical {
    flex-direction: column;
}

.content-header {
    flex: 0 0 auto;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    flex: 1;
    display: flex;
}

.gallery-item {
    margin: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.square-blue {
    border: 2px solid #3882f6;
    border-radius: 5px;
    margin: 10px;
    height: 150px;
    width: 150px;
}

.legend {
    color: black;
    width: 150px;
    text-align: center;
    height: 50px;
}

.quote {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 300;
}

.quote-author {
    padding-top: 20px;
    text-align: right;
    font-size: 26px;
    font-weight: 600;
    width: 100%;
}

.action {
    background-color: #3882f6;
    height: 15vh;
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.action-left .title {
    font-weight: 700;
    font-size: 20px;
}

.action-right button {
    border: 2px solid white;
    height: 6px;
    display: flex;
    align-items: center;
}

.footer {
    justify-content: center;
    color: white;
}

/* Reusable classes */

.bg-dark {
    background-color: #1F2937;
}

.bg-gray {
    color: #1f2937;
    background-color: #e5e7eb;
}

.main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 15px;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 15px;
}


.logo-text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

.text-dark-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

button {
    background-color: #3882f6;
    padding: 18px;
    font-size: 16px;
    font-weight: 700;
    color: whitesmoke;
    border-radius: 5px;
}

.logo {
    width: 85%;
    height: auto;
}